body {
    background-color: rgb(243, 245, 248);
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    color: rgb(103, 106, 109);
}

a, a:hover, a:focus{
    text-decoration: none;
}

/* Left Navigation Begin*/

.leftNav {
    width: 260px;
    height: 100%;
    left: 0px;
    background-color: rgb(43, 51, 62);
    float: left;
    position: fixed;
    padding: 0;
}

/* .logo {
    height: 100px;
    line-height: 100px;
    font-size: 34px;
    text-align: center;
    color: #fff;
    background: #333D4A;
} */

.logo {
    background-color: #333D4A;
    padding: 30px;
}

.logo img{
    vertical-align: middle;
    padding: 0;
}

.navBar {
    display: block;
    padding-left: 0;
    margin-bottom: 0;
}

.navBar li {
    position: relative;
    display: block;
}

.navBar li a {
    font-size: 14px;
    padding: 18px 30px;
    color: #AEB7C2;
    border-left: 5px solid transparent;
    position: relative;
    display: block;
}

.navbar li i{
    margin-right: 10px;
    font-size: 18px;
}

.navbar li span{
    position: relative;
    top: -2px;
}

.navbar li a span{
    vertical-align: text-bottom;

}

.navBar li a .fa-angle-left {
    display: inline-block;
    vertical-align: middle;
    transition: all .2s ease-out;
    float: right;
    position: relative;
    top: 1px;
    font-size: 16px;
    line-height: 1.1;
    transform: rotate(0deg);
}


/* .navBar li a[data-toggle=collapse] .fa-chevron-left{
    transform: rotate(-90deg);
} */
/*
.navBar li a[data-toggle=collapse].collapsed .fa-chevron-left{
    transform: rotate(0deg);
} */

.navBar li a.active, .navBar li a:focus {
    background-color: #20262E;
    border-left-color: #0AF;
    text-decoration: none;
    color: #fff;
}

.navBar li a.active i, .navBar li a:focus i{
    color: #0AF;
}

.navBar li a.active i {
    color: #0AF;
}

.navBar li a.active {
    color: #fff;
}

.navBar li:hover a {
    text-decoration: none;
    color: #fff;
}

.navBar li:hover .fa {
    color: #0AF;
}

.navBar li:hover ul li a{
    color: #AEB7C2;
}

.navBar li .fa {
    font-size: 18px;
    margin-right: 10px;
}

.hidden{
    display: none;
}

.leftDropDown{
    display: block;
}

.leftDropDown li{
    list-style: none;
    height: 40px;
    line-height: 40px;
}

.leftDropDown li a{
    text-decoration: none;
}

.dropdown li:hover a{
    color: #fff;
}

.leftNav .footer {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 30px;
    background-color: #41B314;
    color: #fff;
}

.leftNav .footer:hover{
    background-color: #3ca512;
}

.leftNav .footer i{
    margin-right: 10px;
    font-size: 24px;
    vertical-align: middle;
}

/* Left Navigation Ends */

/* Main Area Begin*/

.mainArea {
    width: calc(100% - 260px) !important;
    left: 0;
    position: relative;
    float: right;
    background-color: #f5f5fa;
}

.header {
    height: 80px;
    background: #fff;
    padding: 0 15px;
    line-height: 80px;
}

.header .fa-arrow-left, .header .fa-arrow-right {
    margin-left: 10px;
    font-size: 20px;
}

.profileMenu {
    display: inline-block;
    margin-right: 15px;
}

.profileMenu li{
    padding: 0 15px;
    list-style: none;
    position: relative;
}

.profileMenu li .fa-code{
    font-size: 16px;
    color: #fff;
    padding: 4px;
    background-color: #F36650;
    border-radius: 50%;
}

.profileMenu a{
    color: #777;
}

.profileMenu li:hover a{
    color: #333;
    text-decoration: none;
}

.profileMenu li:hover{
    background: #FAFAFA;
}

.profileMenu li:hover .dropdown{
    display: block;
}

.dropdown{
    display: none;
    position: absolute;
    right: 0;
    border-top: 2px solid #ACB0B5;
    padding: 0;
    z-index: 2;
}

.dropdown li{
    width: 200px;
    background: #fff;
    height: 40px;
    line-height: 40px;
}

.dropdown li .fa{
    margin-right: 6px;
}

.dropdown li a{
    padding: 0 20px;
}

/* Main Area Ends*/

.changeContent{
    margin: 28px 10px;
}

/* Chart Start */
.chart{
    background: white;
}
/* Chart  Ends*/

/* Stats */
.stats div{
    margin-top: 28px;
    padding: 0;
    padding-left: 15px;
    border-radius: 5px;
}

.stats div:first-child{
    padding-left: 0;
}

.text-center{
    text-align: center;
}

.big-number {
    background: #29B6F6;
    margin: 20px 0;
    margin-top: 30px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 45px;
    display: inline-block;
    padding: 0 15px;
    border-radius: 5px;
}

.number-header {
    text-transform: uppercase;
    font-weight: 600;
    color: #607D8B;
    font-size: 20px;
    margin: 10px 0;
}

/* Stats Ends */


/* Footer */
footer {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    color: #9E9E9E;
    position: absolute;
    bottom: -50px;
}
/* Footer Ends */

/* UploadVideo Start */
.uploadVideo{
    background: #fff;
    padding: 0;
}

.panelHead{
    border-bottom: 1px solid #ddd;
    padding: 25px;
    font-size: 16px;
    font-weight: bold;
}

.form-group{
    margin-top: 10px;
}

.btnUpload{
    background: #03a9f4;
    color: white;
}

/* UploadVideo Ends */

/* Manage Videos Start*/
.manageVideo{
    background: #fff;
}

.manageVideo .panelFooter{
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.manageVideo .panelFooter input{
    display: inline-block;
    width: 200px;
}

.manageVideo .panelFooter input[type="submit"]{
    width: 100px;
}
/* Manage Videos Ends*/
